body {
	font-family: Arial, Helvetica, sans-serif
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginInput, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginInput:hover {
    background-color: lemonchiffon;
}

input[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
	cursor: pointer;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.mainButton{
	width:95%;
	display: block;
	border-radius: 5px;
	padding: 20px;	
	margin: 2.5%;
	text-align: center;
	font-size: 1.5rem;	
	border:4px solid #4CAF50;
	color: #4CAF50;
	background-color:white;
	cursor: pointer;	
}

.mainButton:hover{
	border:4px solid 4CAF50;
	color:white;
	background-color: #4CAF50;
}

.mainTextInput{
	width: 95%;
	border-radius: 5px;
	padding: 20px;
	
	margin: 1rem;
	text-align: center;
	font-size: 1.5rem;
	
	border:4px solid #4CAF50;
	background-color:white;

}
.mainTextInput:hover{
	border:4px solid 4CAF50;
	color:black;
	background-color: lemonchiffon;
}

.flex-containerMain {
	display:flex;
	flex-direction: column;	
}

.mainList{
	margin: auto;
	width: 500px;
	display: table;
	align-self: center;
}
.headLine{
	text-align: center;
	margin: auto;
}

.collapsible {
	width: 95%;
	display: block;
	border-radius: 5px;
	padding: 20px;	
	margin: 2.5%;
	text-align: center;
	font-size: 1.5rem;	
	border:4px solid #4CAF50;
	color: #4CAF50;
	background-color:white;
	cursor: pointer;	
}
  
.active, .collapsible:hover {
	border:4px solid 4CAF50;
	color:white;
	background-color: #4CAF50;
}
  
.content {
	padding: 5px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

.lowerButton{
	width:80%;
	display: block;
	border-radius: 5px;
	padding: 5px;	
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 1.2rem;	
	border:2px solid #4CAF50;
	color: #4CAF50;
	background-color:white;
	cursor: pointer;
}

/* DropDown Style */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.nodropdown-content {
	background-color: #f6f6f6;
	min-width: 230px;
	overflow: auto;
	border: 1px solid #ddd;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nodropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.updateDivClass{
	visibility: collapse;
}

.myUL{
	list-style-type: none;
	padding: 0;
	margin:0;
}

.myUL li a {
	border: 1px solid #ddd;
	margin-top: -1px; /* Prevent double borders */
	background-color: #f6f6f6;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block
}

#myUL li a:hover:not(.header) {
	background-color: #eee;
}

@media screen and (max-width : 550px){
	.mainList{
		width: 90%;
	}
}


