
@font-face {
	font-family: 'ROBOTO';
	src:url('./fonts/ROBOTO-Regular.ttf') format('truetype');
	font-weight : 400;
}

body {
	font-family: Arial, Helvetica, sans-serif
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'CreteRound';
	src:url('./fonts/CreteRound-Regular.ttf') format('truetype');
}