{{> navigation}}

<div>
    <div id="comments">
        {{#each memes}}
        <div>
            <div class="panel-heading">
                {{creator}}, {{formatDate createdAt}}
            </div>
            <div>
                <img src="{{imageUrl}}">
            </div>
        </div>
        {{/each}}
    </div>
</div>