{{> navigation}}

<div>
    <div class="left">
        <div id="templates">
        </div>
        <div class="meme">
            <canvas id="meme-view" width="400px" height="400px"></canvas>
        </div>
    </div>
    <form class="right">
        <div class="form-group">
            <button id="addText">Add textfield</button>
        </div>
        <div id="textParts">
        </div>
        <div class="form-group">
            <label>Font Size:</label>
            <select class="form-control" id="fontSize">
                <option value="15">15px</option>
                <option value="20">20px</option>
                <option value="25">25px</option>
                <option value="30">30px</option>
                <option value="35">35px</option>
                <option value="40">40px</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Author:</label>
            <input id="author" class="textInput form-control" value="Mr. X">
        </div>

        <a id="downloadMeme" download="Meme.png">Download Meme</a>
        <a id="saveMeme">Save Meme</a>
    </form>
</div>


<script src="./vendor/jquery.js"></script>
<script src="./MemeViewer.js"></script>
<script src="./MemeEditor.js"></script>
<script>
    $(document).ready(() => {
        const editor = new MemeEditor();
        editor.init();
    });
</script>