body {
	font-family: Arial, Helvetica, sans-serif
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.loginInput, select {
    width: 98%;
    padding: 12px 20px;
    margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginInput:hover {
    background-color: lemonchiffon;
}

.mainButton, .collapsible{
	width:98%;
	display: block;
	border-radius: 5px;
	padding: 12px 20px;	
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-size: 1.5rem;	
	border:4px solid #4CAF50;
	color: #4CAF50;
	background-color:white;
	cursor: pointer;	
}
.lowerButton{
	width:80%;
	display: block;
	border-radius: 5px;
	padding: 5px;	
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 1.2rem;	
	border:2px solid #255bcf;
	color: #255bcf;
	background-color:white;
	cursor: pointer;
}

.mainButton:hover{
	border:4px solid #4CAF50;
	color:white;
	background-color: #4CAF50;
}

.lowerButton:hover{
	border:2px solid #255bcf;
	color:white;
	background-color: #255bcf;
}

.slimButton{
	width:98%;
	display: block;
	border-radius: 5px;
	padding: 5px;	
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-size: 1.2rem;	
	border:2px solid #255bcf;
	color: #255bcf;
	background-color:white;
	cursor: pointer;
}

.slimButton:hover{
	border:2px solid #255bcf;
	color:white;
	background-color: #255bcf;
}

.mainList{
	margin: auto;
	width: 550px;
	display: table;
	align-self: center;
	padding:5px;
}

.widemainList{
	margin: auto;
	width: 800px;
	display: table;
	align-self: center;
	padding:5px;
}

.headLine{
	text-align: center;
	margin: auto;
}

.active, .collapsible:hover {
	border:4px solid #4CAF50;
	color:white;
	background-color: #4CAF50;
}
.collapsDiv {
	padding: 0px;
	margin:0px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

.backbutton{
	width:98%;
	display: block;
	border-radius: 5px;
	padding: 12px 20px;	
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-size: 1.5rem;	
	border:4px solid #dd9f19;
	color: #dd9f19;
	background-color:white;
	cursor: pointer;	
}

.backbutton:hover{
	border:4px solid #dd9f19;
	color:white;
	background-color: #dd9f19;
}
.deleteButton{
	width:98%;
	display: block;
	border-radius: 5px;
	padding: 12px 20px;	
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-size: 1.5rem;	
	border:4px solid #e01818;
	color: #e01818;
	background-color:white;
	cursor: pointer;	
}

.deleteButton:hover{
	border:4px solid e01818;
	color:white;
	background-color: #e01818;
}

.searchInput {
	background-position: 12px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #ddd;
	width: 98%;
    padding: 12px 20px;
    margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
  }
  
.searchInput:focus {outline: 3px solid #ddd;}

.myUL{
	list-style-type: none;
	padding: 0;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
}

.myUL li a {
	border: 1px solid #ddd;
	margin-top: -1px; /* Prevent double borders */
	background-color: #f6f6f6;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block
}

.myUL li a:hover:not(.header) {
	background-color: #eee;
}

.dropdown {
	position: relative;
	display: inline-block;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	min-width: 230px;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 1;
}
  
.nodropdown-content {
	background-color: #f6f6f6;
	min-width: 230px;
	overflow: auto;
	border: 1px solid #ddd;
}
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.nodropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

.updateDivClass{
	display: none;
}

table { 
	width: 95%; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

/*FRAGESPIEL*/
.tipButton{
	width:98%;
	height: 300px;
	display: block;
	border-radius: 5px;
	padding: 12px 20px;	
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-size: 1.5rem;	
	border:4px solid black;
	color: white;
	background-color:#255bcf;
	cursor: pointer;	
}
@media screen and (max-width : 1000px){
	.widemainList{
		width:95%;
	}
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}
}
@media screen and (max-width : 600px){
	.mainList{
		width: 95%;
	}
	.dropdown-content{
		width: 95%;
	}
}