body {
	font-family: Arial, Helvetica, sans-serif
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.loginInput, select {
    width: 98%;
    padding: 12px 20px;
    margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginInput:hover {
    background-color: lemonchiffon;
}

.mainButton, .collapsible{
	width:98%;
	display: block;
	border-radius: 5px;
	padding: 12px 20px;	
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-size: 1.5rem;	
	border:4px solid #4CAF50;
	color: #4CAF50;
	background-color:white;
	cursor: pointer;	
}
.lowerButton{
	width:80%;
	display: block;
	border-radius: 5px;
	padding: 5px;	
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 1.2rem;	
	border:2px solid #255bcf;
	color: #255bcf;
	background-color:white;
	cursor: pointer;
}

.mainButton:hover{
	border:4px solid #4CAF50;
	color:white;
	background-color: #4CAF50;
}

.lowerButton:hover{
	border:2px solid #255bcf;
	color:white;
	background-color: #255bcf;
}

.slimButton{
	width:22%;
	border-radius: 5px;
	padding: 5px;	
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-size: 1.2rem;	
	border:2px solid #255bcf;
	color: #255bcf;
	background-color:white;
	cursor: pointer;
}

.slimButton:hover{
	border:2px solid #255bcf;
	color:white;
	background-color: #255bcf;
}

.slimWideButton{
	width:98%;
	display: block;
	border-radius: 5px;
	padding: 5px;	
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-size: 1.2rem;	
	border:2px solid #255bcf;
	color: #255bcf;
	background-color:white;
	cursor: pointer;
}
.slimWideButton:hover{
	border:2px solid #255bcf;
	color:white;
	background-color: #255bcf;
}

.mainList{
	margin: auto;
	width: 550px;
	display: table;
	align-self: center;
	padding:5px;
}

.widemainList{
	margin: auto;
	width: 800px;
	display: table;
	align-self: center;
	padding:5px;
}

.headLine{
	text-align: center;
	margin: auto;
}

.backbutton{
	width:98%;
	display: block;
	border-radius: 5px;
	padding: 12px 20px;	
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-size: 1.5rem;	
	border:4px solid #dd9f19;
	color: #dd9f19;
	background-color:white;
	cursor: pointer;	
}

.backbutton:hover{
	border:4px solid #dd9f19;
	color:white;
	background-color: #dd9f19;
}
.deleteButton{
	width:98%;
	display: block;
	border-radius: 5px;
	padding: 12px 20px;	
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-size: 1.5rem;	
	border:4px solid #e01818;
	color: #e01818;
	background-color:white;
	cursor: pointer;	
}

.deleteButton:hover{
	border:4px solid e01818;
	color:white;
	background-color: #e01818;
}

.searchInput {
	background-position: 12px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #ddd;
	width: 98%;
    padding: 12px 20px;
    margin-left: 1%;
	margin-right: 1%;
	margin-top: 3px;
	margin-bottom: 3px;
  }
  
.searchInput:focus {outline: 3px solid #ddd;}

table { 
	width: 95%; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

@media screen and (max-width : 1000px){
	.widemainList{
		width:95%;
	}
	td, th { 
		font-size: 14px;
		}
}
@media screen and (max-width : 600px){
	.mainList{
		width: 95%;
	}
	td, th { 
		font-size: 14px;
		}
	.slimButton{
		font-size: 1rem;
		width:21.5%;	
	}
}