
@font-face {
	font-family: 'ROBOTO';
	src:url('./fonts/ROBOTO-Regular.ttf') format('truetype');
	font-weight : 400;
}

body {
	font-family: Arial, Helvetica, sans-serif
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'CreteRound';
	src:url('./fonts/CreteRound-Regular.ttf') format('truetype');
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginInput, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginInput:hover {
    background-color: lemonchiffon;
}

input[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
	cursor: pointer;
	font-family: 'CreteRound';
	src:url('./fonts/CreteRound-Regular.ttf') format('truetype');
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.mainButton{
	
	border-radius: 5px;
	padding: 20px;
	
	width:auto;
	margin: 1rem;
	text-align: center;
	font-size: 1.5rem;
	
	border:4px solid #4CAF50;
	color: #4CAF50;
	background-color:white;

	cursor: pointer;
	font-family: 'CreteRound';
	src:url('./fonts/CreteRound-Regular.ttf') format('truetype');
}

.mainButton:hover{
	border:4px solid 4CAF50;
	color:white;
	background-color: #4CAF50;
}

.mainTextInput{
	width: 95%;
	border-radius: 5px;
	padding: 20px;
	
	margin: 1rem;
	text-align: center;
	font-size: 1.5rem;
	
	border:4px solid #4CAF50;
	background-color:white;

	font-family: 'CreteRound';
	src:url('./fonts/CreteRound-Regular.ttf') format('truetype');
}
.mainTextInput:hover{
	border:4px solid 4CAF50;
	color:black;
	background-color: lemonchiffon;
}

.flex-containerMain {
	display:flex;
	flex-direction: column;	
}

.mainList{
	margin: auto;
	width: 500px;
	align-self: center;
}

@media screen and (max-width : 550px){
	.mainList{
		width: 90%;
	}
}


