body {
    background-image: url("../images/background.png");
    background-repeat: repeat;
    margin: 20px;
}

h1 {
    font-size: 80px;
    text-align: center;
}

#M_TOP {
    margin-top: -15px;
}

.shape-rightpointy {
    float: left;
    border-top: 250px solid #555;
    border-left: 0px solid transparent;
    border-right: 200px solid transparent;
    height: 0;
    width: 35%;
    margin-right: -10%;
}

.shape-rightpointy:hover {
    border-top: 250px solid #3481CD;
    color: white;
    cursor: pointer;
}

.shape-leftpointy {
    float: right;
    border-bottom: 250px solid #555;
    border-left: 200px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 35%;
    margin-left: -10%;
}

.shape-leftpointy:hover {
    border-bottom: 250px solid #c32e04;
    color: white;
    cursor: pointer;
}

.container_1 {
    width: 100%;
    max-width: 1700px;
    margin: auto;
}

.container_2 {
    width: 100%;
    max-width: 1700px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container_3 {
    width: 100%;
    max-width: 1700px;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container_4 {
    width: 100%;
    max-width: 1700px;
    display: flex;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container_5 {
    width: 100%;
    max-width: 1700px;
    display: flex;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_6 {
    width: 100%;
    max-width: 1700px;
    margin: auto;
    margin-top: 60px;
    justify-content: center;
    font-size: 18px;
}

.container_6::after {
    content: "";
    clear: both;
    display: table;
}

.questionContainer {
    list-style-type: none;
    width: 70%;
    max-width: 1190px;
    display: block;
    margin: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.selButton {
    width: 30%;
    height: 40px;
    background-color: #555;
    border: none;
    margin: 10px;
    color: white;
    font-size: 16px;
}

.selButton:hover {
    color: white;
    background-color: darkcyan;
    cursor: pointer;
}

.headlineContainer {
    display: flex;
}

.text-shapeleft {
    font-size: 80px;
    text-align: center;
}

.text-shaperight {
    margin-top: -180px;
    font-size: 80px;
    text-align: center;
}

.topBtn {
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 40px;
    border-radius: 4px;
    background-image: url("../images/topArrow.svg");
    background-size: cover;
}

.topBtn:hover {
    background-image: url("../images/topArrow-select.svg");
}

.backBtn {
    width: 50px;
    height: 70px;
    margin-top: 12px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    background-image: url("../images/backArrow.svg");
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.backBtn:hover {
    background-image: url("../images/backArrow-select.svg");
}

.table {
    height: 100%;
    width: 100%;
    display: table;
}

.flagge {
    height: 200px;
    min-width: 200px;
    width: 300px;
    border-radius: 5%;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 200px;
    text-align: center;
}

.flagge:hover {
    cursor: pointer;
    border: 0px solid #3481CD;
    box-shadow: 0 0 40px #3481CD;
}

.myImage {
    width: 60%;
    object-fit: cover;
    margin: auto;
    margin-top: 20px;
    border-top: 10px solid #555;
    border-bottom: 10px solid #555;
}

.myImage:hover {
    cursor: pointer;
    opacity: 0.8;
}

.checkspan {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: darkgray;
}

.radioLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
    margin-bottom: 20px;
    margin-right: 25px;
}

.radioLabel input {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}

.question {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.questionHeader {
    font-size: 30px;
}

.question input:checked ~.checkspan {
    background-color: #2196F3;
}

.question:hover input:checked ~.checkspan {
    background-color: rgb(15, 84, 141);
}

.radioLabel:hover input ~.checkspan {
    background-color: gray;
}

.scoreLabel {
    margin: auto;
    font-size: 150px;
    font-weight: bolder;
}

.standardButton {
    height: 100px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #555;
    font-size: 40px;
    border: 0px;
    color: white;
}

.standardButton:hover {
    background-color: darkcyan;
    cursor: pointer;
}

.image_modal_container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.image_modal {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1700px;
    height: 80%;
}

.image_modal:hover {
    cursor: pointer;
}

#image_modal_text {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: white;
    padding: 10px 0;
    font-size: 20px;
}

.emp_image {
    width: 220px;
    height: 320px;
    float: left;
    overflow: auto;
    margin-right: 20px;
}

.emp_image:hover {
    cursor: pointer;
    border: 0px solid #3481CD;
    box-shadow: 0 0 20px #3481CD;
}

.emp_text {
    text-align: center;
}

.guestBookContainer {
    width: 100%;
    max-width: 1700px;
    display: flex;
    margin: auto;
    padding-bottom: 15px;
    justify-content: center;
    flex-direction: row;
}

.guestBookContainerLeft {
    width: 15%;
    max-width: 255px;
    min-width: 100px;
    display: flex;
    border-style: solid;
    border-width: medium;
    border-right-width: thin;
    padding-bottom: 15px;
    padding-left: 15px;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(111, 241, 241, 0.3);
}

.guestBookContainerRight {
    width: 80%;
    max-width: 1360px;
    display: flex;
    border-style: solid;
    border-width: medium;
    border-left-width: thin;
    padding-bottom: 15px;
    padding-left: 15px;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(230, 240, 140, 0.3);
}

.formContainerRight {
    width: 60%;
    max-width: 1020px;
    min-width: 100px;
    display: flex;
    border-style: solid;
    border-width: medium;
    border-left-width: thin;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(230, 240, 140, 0.3);
}

.formContainerRightContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formContainer {
    width: 100%;
    max-width: 1700px;
    display: flex;
    margin: auto;
    padding-top: 15px;
    justify-content: center;
    flex-direction: row;
}

.formContainerLeft {
    width: 15%;
    max-width: 255px;
    min-width: 100px;
    display: flex;
    border-style: solid;
    border-width: medium;
    border-right-width: thin;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(111, 241, 241, 0.3);
}

.formDataSendButton {
    margin-top: 10px;
    height: 30px;
}

.formTextInput {
    word-wrap: break-word;
    text-align: left;
    height: 150px;
    resize: none;
}

.breakText {
    word-break: break-all;
    word-wrap: break-word;
}

.form_item {
    width: 500px;
    max-width: 80%;
    font-size: 20px;
    border-radius: 5px;
}

.form_label {
    font-weight: bold;
    color: black;
    margin-top: 20px;
    font-size: 20px;
}

.form_kontakt {
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    background-color: lightgray;
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
}

.form_kontakt input[type=submit] {
    width: 500px;
    max-width: 80%;
    height: 60px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form_textArea {
    height: 200px;
    resize: vertical;
}

.dialog {
    position: relative;
    margin: auto;
    animation-name: dialog_animation;
    animation-duration: 0.5s;
    background-image: url("../images/background.png");
    background-repeat: repeat;
    width: 95%;
    max-width: 400px;
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
}

.dialog_background {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog_button {
    height: 50px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #555;
    font-size: 30px;
    border: 0px;
    color: white;
    align-content: center;
}

.dialog_button:hover {
    background-color: darkcyan;
    cursor: pointer;
}

.Prev {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 45%;
    left: 2%;
}

.Prev:hover {
    cursor: pointer;
}

.Next {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 45%;
    right: 2%;
}

.Next:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.displayWorkAround {
    display: block;
    position: absolute;
}

@keyframes dialog_animation {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@media screen and (max-width: 1600px) {
    .text-shapeleft {
        margin-top: 40px;
        font-size: 60px;
        text-align: center;
    }
    .text-shaperight {
        margin-top: -110px;
        font-size: 60px;
        text-align: center;
    }
    .shape-rightpointy {
        border-top: 150px solid #555;
    }
    .shape-rightpointy:hover {
        border-top: 150px solid #3481CD;
    }
    .shape-leftpointy {
        border-bottom: 150px solid #555;
    }
    .shape-leftpointy:hover {
        border-bottom: 150px solid #c32e04;
    }
}

@media screen and (max-width: 1200px) {
    .text-shapeleft {
        margin-top: 50px;
        font-size: 45px;
        text-align: center;
    }
    .text-shaperight {
        margin-top: -100px;
        font-size: 45px;
        text-align: center;
    }
    .flagge {
        height: 200px;
        max-width: 400px;
        border-radius: 5%;
        overflow: hidden;
        display: inline-block;
        margin: 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .Prev {
        transform: rotate(-90deg);
    }
    .Next {
        transform: rotate(-90deg);
    }
}

@media screen and (max-width: 1000px) {
    .shape-rightpointy {
        border-top: 100px solid #555;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        height: 0;
        width: 95%;
        margin: 2.5%;
    }
    .shape-rightpointy:hover {
        border-top: 100px solid #3481CD;
        color: white;
        cursor: pointer;
    }
    .shape-leftpointy {
        border-bottom: 100px solid #555;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        height: 0;
        width: 95%;
        margin: 2.5%;
    }
    .shape-leftpointy:hover {
        border-bottom: 100px solid #c32e04;
        color: white;
        cursor: pointer;
    }
    .container_1 {
        display: flex;
        flex-wrap: wrap;
    }
    .text-shapeleft {
        margin-top: 15px;
        font-size: 60px;
        text-align: center;
    }
    .text-shaperight {
        margin-top: -85px;
        font-size: 60px;
        text-align: center;
    }
    .flagge {
        height: 200px;
        max-width: 400px;
        border-radius: 5%;
        overflow: hidden;
        display: inline-block;
        margin: 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .myImage {
        width: 95%;
        object-fit: cover;
        margin: auto;
    }
    .standardButton {
        width: 95%;
        margin: 2.5%;
    }
    .container_5 {
        margin: auto;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        padding-top: 10px;
        font-size: 60px;
        text-align: center;
    }
    .Prev {
        left: 1%;
    }
    .Next {
        right: 1%;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        padding-top: 5px;
        font-size: 50px;
        text-align: center;
    }
    .backBtn {
        width: 50px;
        height: 50px;
        margin-top: 12px;
        float: left;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        background-image: url("../images/backArrow.svg");
        background-size: cover;
    }
    .text-shapeleft {
        font-size: 50px;
        text-align: center;
    }
    .text-shaperight {
        font-size: 50px;
        text-align: center;
    }
    .Prev {
        display: none;
    }
    .Next {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        padding-top: 7px;
        font-size: 40px;
        text-align: center;
    }
    .backBtn {
        width: 40px;
        height: 40px;
        margin-top: 12px;
    }
    .text-shapeleft {
        font-size: 40px;
        margin-top: 25px;
        text-align: center;
    }
    .text-shaperight {
        font-size: 40px;
        text-align: center;
    }
    .standardButton {
        font-size: 35px;
    }
    .flagge {
        height: 150px;
        max-width: 250px;
        line-height: 150px;
    }
    .emp_image {
        align-self: center;
        width: 100%;
    }
}