<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <meta name="description" content="Meme Generator">

    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <main>
      <header>
        <div contenteditable="false">
                                                                   _
                                                                  | |
   _ __ ___   ___ _ __ ___   ___    __ _  ___ _ __   ___ _ __ __ _| |_ ___  _ __
  | '_ ` _ \ / _ \ '_ ` _ \ / _ \  / _` |/ _ \ '_ \ / _ \ '__/ _` | __/ _ \| '__|
  | | | | | |  __/ | | | | |  __/ | (_| |  __/ | | |  __/ | | (_| | || (_) | |
  |_| |_| |_|\___|_| |_| |_|\___|  \__, |\___|_| |_|\___|_|  \__,_|\__\___/|_|
                                    __/ |
                                   |___/
        </div>
      </header>
      <div id="content">
        {{{body}}}
      </div>
    </main>

    <script src="./vendor/jquery.js"></script>
</body>

</html>