html {
  padding: auto;
  margin: 0px;
  box-sizing: border-box;
  font-family: verdana;
}

body {
  background-image: url('../img/background-2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: ' ';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.45);
}

main {
  display: block;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ccc;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  display: block;
  width: 100%;
}

header > div {
  font-size: 10pt;
  font-family: Monospace;
  white-space: pre;
  width: 665px;
  margin: 0px auto;
  font-weight: 600;
}

nav {
  border-bottom: 1px solid #ccc;
  padding: 0 0 15px 0;
  margin: 0 0 10px 0;
}

nav > a {
  padding: 5px;
  text-decoration: none;
  color: #454646;
  cursor: pointer;
}

nav > a:hover {
  border-bottom: 2px solid #ccc;
}

nav > a.active {
  border-bottom: 2px solid #454646;
}

#content > div {
  display: flex;
  width: 100%;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}

#templates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 90%;
}

#templates > button {
  background: none;
  border: 1px dashed #000;
  margin: 5px;
  padding: 5px;
}

#templates > button:hover,
#templates > button:focus {
  cursor: pointer;
  border: 1px dotted #000;
  outline: none;
}

.meme {
  margin: 10px 0 0 0;
  width: 90%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meme > canvas {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.form-group {
    padding: 5px;
    position: relative;
}

.form-group > label {
  display: block;
  margin: 5px 0;
}

.form-group > textarea {
    display: block;
    width: 100%;
}

.form-group > input {
  width: 100%;
}

.form-group > span::before {
  content: 'x';
  border: 1px solid #ccc;
  padding: 1px 2px 3px 2px;
  border-radius: 10px;
  background-color: #ccc;
  color: white;
  position: absolute;
  top: 10px;
  right: 5px;
  height: 10px;
  display: flex;
  font-family: verdana;
  width: 10px;
  align-items:  center;
  justify-content: center;
  line-height: 10px;
  font-size: 10px;
  cursor: pointer;
}

#addText > span {
  content: 'Add text'
}

div.form-group > button {
  height: 40px;
  font-size: 16px;
}

div.form-group > button:hover::before {
  height: 40px;
}

.form-group > button,
.right > a {
  position: relative;
  font-size: 13px;
  display: block;
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 30px;
  margin: 5px 0;
  color: #555;
  cursor: pointer;
  background-color: #fff;
}

.form-group > button:hover,
.right > a:hover {
  border-style: dashed;
  text-decoration: none;
}

.form-group > button:hover::before,
.right > a:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  height: 30px;
  width: 3px;
  background-color: #ccc;
}

div#comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.panel-heading {
    margin-bottom: 5px;
    font-style: italic;
    color: #454546;
    font-size: 14px;
}
