@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
  color: #191919;
  font-size: 16px;
}

main {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  max-width: 700px;
}

h1, h2, h3, h4, h5, h6 {
  color: #087249;
  font-family: 'Cinzel', 'Times New Roman', serif;
  padding-bottom: 0.2rem;
  border-bottom: 1px dashed #087249;
}

p {
  line-height: 1.3;
  margin-top: 0;
}

a {
  color: #ab0c17;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  background-color: #ffeaea;
}

a:focus {
  background-color: #ffeaea;
}

ul {
  list-style-type: circle;
  line-height: 1.3;
}

/* ------------------------------------- */
/* TILE STYLE */
/* ------------------------------------- */

.tile {
  border: 2px solid #ab0c17;
  border-radius: 5px;
  max-width: 600px;
  margin-bottom: 3rem;
  overflow: hidden;
}

.tile__image {
  display: block;
  max-width: 100%;
}

.tile__image__wrapper { /* To prevent image from overlapping title */
  overflow: hidden;
}

.tile__header {
  color: #fff;
  background-color: #ab0c17;
  border: none;
  margin: 0;
  text-align: center;
  padding: 0.5rem;
}

.tile__content {
  padding: 1rem;
}

.tile__meta {
  list-style: none;
  padding: 0;
  font-weight: 700;
  color: #525252;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.tile__meta__item {
  display: inline-block;
}

.tile__meta__item:after {
  content: " | ";
}

.tile__meta__item:last-child:after {
  content: none;
}

.tile__more {
  text-decoration: none;
  display: block;
  text-align: center;
  border: 1px solid #898989;
  border-radius: 5px;
  color: #898989;
  padding: 0.5rem;
  background-color: transparent;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out,
              color 0.2s ease-out;
}

.tile__more:after {
  content: '»';
  margin-left: 0.5rem;
}

.tile__more:hover {
  background-color: #ab0c17;
  border-color: #ab0c17;
  color: #fff;
}
img {
  max-width: 100%;
}
@media screen and (min-width :550px) {
  .image{
    max-width: 300px;
  }

  .image--right{
    float:right;
    margin-bottom: 1rem;
  }
  .image--left{
    float:left;
  }

  p:after {
    content: " ";
    display: table;
    clear: both;
  }
}

@media screen and (min-width: 400px) {
  .section--3columns {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section--3columns .tile {
    flex-basis: 45%;
  }
}

@media screen and (min-width: 700px){
  .section--3columns .tile{
    flex-basis:  30%;
  }
}

.actor{
  background-color:#333;
  color:#fff;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
}
.actor__name{
  color: #fff;
  border:none;
}
.actor__image{
  width:150px;
  border-radius:50%;
  border:2px solid #fff;
}

@media screen and (min-width:400px){
  .section--actors{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  .section--actors .actor {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 700px)
{
  .section--actors {
    grid-template-columns: repeat(4,1fr);
  }
}