/* JavaFX CSS reference guide: https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html */
#ts_rootPane {
	-fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 400;
	-fx-min-height: 100;
}

.button{
	-fx-border-color: dimgrey;
	-fx-background-color: cornsilk;
	-fx-pref-width: 350;
	-fx-pref-height: 50;
	-fx-padding:10;
	-fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-alignment: center;
}

#pr_label2 {
	-fx-pref-width: 200;
	-fx-max-height: 20;
}

#pr_roZug {
	-fx-pref-width: 100;
	-fx-max-height: 20;
}

#pr_roTime {
	-fx-pref-width: 200;
	-fx-max-height: 20;
}

#pr_label3 {
	-fx-pref-width: 100;
	-fx-max-height: 20;
}

#pr_address {
	-fx-pref-width: 200;
	-fx-max-height: 20;
}

#pr_label5 {
	-fx-pref-width: 100;
	-fx-max-height: 20;
}


#pr_label1 {
	-fx-pref-width: 300;
	-fx-max-height: 40;
	-fx-font-size:18;
}

#pr_label4 {
	-fx-pref-width: 300;
	-fx-max-height: 40;
	-fx-font-size:18;
}

#pr_scores {
	-fx-pref-width: 300;
	-fx-max-height: 40;
	-fx-font-size:18;
	-fx-alignment: center;
}



HBox{
	-fx-alignment: center ;
    -fx-padding: 10;
}