/* JavaFX CSS reference guide: https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html */
#ts_rootPane {
	-fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 400;
	-fx-min-height: 100;
}

#an_tb1{
	-fx-pref-width: 200;
	-fx-max-height: 20;
}

#an_lb1 {
	-fx-pref-width: 70;
	-fx-max-height: 20;
}

#an_tb2 {
	-fx-pref-width: 200;
	-fx-max-height: 20;
}

#an_lb2 {
	-fx-pref-width: 70;
	-fx-max-height: 20;
}
HBox{
	-fx-alignment: center ;
    -fx-padding: 10;
}
#an_bt1{
	-fx-border-color: dimgrey;
	-fx-background-color: cornsilk;
	-fx-pref-width: 350;
	-fx-pref-height: 50;
	-fx-padding:10;
	-fx-border-insets: 5px;
    -fx-background-insets: 5px;
}