/* JavaFX CSS reference guide: https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html */
#ts_rootPane {
	-fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 400;
	-fx-min-height: 100;
}
.button{
	-fx-min-width: 50;
	-fx-min-height: 50;
	
	-fx-pref-width: 80;
	-fx-pref-height: 80;
	
	-fx-max-width: 200;
	-fx-max-height: 200;
}

HBox{
	-fx-alignment: center ;
    -fx-padding: 10;
}
#mw_prefs{
	-fx-border-color: dimgrey;
	-fx-background-color: cornsilk;
	-fx-pref-width: 350;
	-fx-pref-height: 50;
	-fx-padding:10;
	-fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-alignment: center;
}
#mw_lblZug {
	-fx-pref-width: 200;
	-fx-pref-height: 50;
	-fx-alignment: center;
	-fx-font-size:20;
}
#mw_lblTime {
	-fx-pref-width: 200;
	-fx-pref-height: 150;
	-fx-alignment: center;
	-fx-font-size:20;
}

#mw_lblP1 {
	-fx-font-size:18;
}

#mw_lblS1 {
	-fx-font-size:18;
}

#mw_lblMid {
	-fx-font-size:18;
}

#mw_lblP2 {
	-fx-font-size:18;
}

#mw_lblS2 {
	-fx-font-size:18;
}