/* JavaFX CSS reference guide: https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html */
#ts_rootPane {
	-fx-pref-height: 100;
	-fx-border-color: dimgrey;
}

#ts_bt1 {
	-fx-border-color: dimgrey;
	-fx-background-color: cornsilk;
	-fx-pref-width: 350;
	-fx-pref-height: 50;
	-fx-padding:10;
	-fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

#ts_bt2 {
	-fx-border-color: dimgrey;
	-fx-background-color: cornsilk;
	-fx-pref-width: 350;
	-fx-pref-height: 50;
	-fx-padding:10;
	-fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

#ts_bt3 {
	-fx-border-color: dimgrey;
	-fx-background-color: cornsilk;
	-fx-pref-width: 350;
	-fx-pref-height: 50;
	-fx-padding:10;
	-fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

#ts_bt4 {
	-fx-border-color: dimgrey;
	-fx-background-color: cornsilk;
	-fx-pref-width: 350;
	-fx-pref-height: 50;
	-fx-padding:10;
	-fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
HBox, VBox {
	-fx-alignment: center ;
    -fx-padding: 10;
    -fx-min-width: 400;
	-fx-min-height: 250;
}